<!doctype html>
<head>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h1>Book Details</h1>
            </div>
        </div>
        <div class="row">
            <div class="col s6">
                <img src="http://books.toscrape.com{{ book.url }}" alt="thumbnail" class="center-text">
            </div>
        </div>
        <div class="row">
            <div class="col s6">
                <h3>{{ book.title }}</h3>
                <table>
                    <tr>
                        <td>Price: </td>
                        <td>{{ book.price }}</td>
                    </tr>
                    <tr>
                        <td>Description: </td>
                        <td>{{ book.description }}</td>
                    </tr>
                    <tr>
                        <td>Stock: </td>
                        <td>{{ book.stock }}</td>
                    </tr>
                    <tr>
                        <td>UPC: </td>
                        <td>{{ book.upc }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>

</html>