<!doctype html>
<head>
    <title>David Quezada | Scraper con Django</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
</head>
<body>
    <div class="container">
        <a href="/">Back to Index</a>
        <div class="row">
                <div class="col s3">
                        <ul>
                            {% for category in categories %}
                                <li><a href="books?cat_id={{ category.id }}">{{ category }}</a></li>
                            {% endfor %}
                        </ul>
                </div>
                <div class="col s9">
                    <table>
                        <tr>
                            <th>Title</th>
                            <th>Price</th>
                            <th>Stock<th>
                            <th>UPC<th>
                            </tr>
                            {% for book in books %}
                                <tr>
                                    <td><a href="/book_details?book_id={{ book.id }}">{{ book.title }}</a></td>
                                    <td>{{ book.price }}</td>
                                    <td>{{ book.stock }}</td>
                                    <td>{{ book.upc }}</td>
                                    <td><a href="book_delete?book_id={{ book.id }}" onclick="return confirm('Are you sure yo want to delete this book?')">Delete</a></td>
                                </tr>
                            {% endfor %}
                    </table>
                </div>
        </div>
    </div>

</body>

</html>