<!doctype html>
<head>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="row">
                <a href="update_database" onclick="return confirm('Are you sure yo want update the database? This may take a while...')" >Update Database</a>
            </div>
            <div class="col s3">
                <ul>
                    {% for category in categories %}
                        <li><a href="books?cat_id={{ category.id }}">{{ category }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col s9">
                <h3>Book Search:</h3>
                <hr>
                <form action="book_search" method="POST">
                    <div class="input-field">
                        <input type="text" name="word" placeholder="Enter Book Title" >
                    </div>
                    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                        <i class="material-icons right">send</i>
                    </button>
                </form>
            </div>
        </div>
    </div>


    
</body>

</html>



